body{
    background-color: rgb(184, 233, 230);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5cm;
    margin-top: 2cm;
    margin-right: 5cm;
    border: 1 solid black;
}
h1{
    color: rgb(255, 255, 255);
    background-color: rgb(63, 208, 169);
    width: 10cm;
    border-radius: 10px;
    margin: 1cm;
}
form{
    color: whitesmoke;
    background-color: rgb(189, 24, 24);
    width: 12cm;
    background-size: 5cm 5cm;
    padding: 10px;
    border-radius: 10px;
}
.boton{
    color: rgb(255, 255, 255);
    background-color: rgb(148, 87, 87);
    border: 1 solid whitesmoke;
}